.header {
    border: 3px solid black;
    display: block;
    height: 50px;
    width: 1373px;
    margin-left: 3px;
    margin-right: 10px;
}

.leftNav {
    margin-top: 5px;
    border: 3px solid black;
    display: block;
    width: 150px;
    height: 650px;
}

.leftNavButton {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border: 3px solid rgb(150, 8, 238);
    display: block;
    width: 140px;
    height: 30px;
}

.mainArea {
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 2px;
    border: 3px solid rgb(17, 13, 19);
    display: block;
    width: 1210px;
    height: 650px;
}

.bottomArea {
    display:flex;
}